@namespace Zeon.Blazor.ZButton

@if (IsWaiting)
    IsDisabled = true;

<button id="@Id" type="button" class="btn @CssClass @_disabled zeon-button-btn  align-items-stretch d-flex" @onclick="OnClick" style="--btn-display:@Display; --btn-width:@Width ; --btn-height:@Height">

    <div class="icon icon-left d-flex align-items-center justify-content-center w-auto">
        @if (IsWaiting)
        {
            <span class="spinner-border text-primary zeon-button-spinner" role="status"></span>
        }
        else
        {
            <i class="@CssIcon zeon-button-icon"></i>
        }
    </div>
    <div class="text m-auto zeon-button-text">
        @Text
    </div>
</button>
