.zeon-ItemChooser-listItems {
    height: 200px;
    background-color: #f3f3f3;
    border: solid 0.5px #bbb;
    border-radius: 6px;
    position: relative;
    z-index: 999
}

.zeon-ItemChooser-Item {
    padding-right: 3px padding-left:3px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .zeon-ItemChooser-Item:focus {
        background-color: lightblue !important;
    }

    .zeon-ItemChooser-Item:hover {
        background-color: lightgray !important;
    }


.zeon-inputContainer-container {
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 4px;
    width: var(--container-Width ) !important;
    height: var(--container-Height ) !important;
    display: var(--container-Display ) !important;
}

.zeon-inputContainer-Label {
    font-size: 12px;
    color: rgba(0,0,0,0.7);
    margin-left: 2px !important;
    margin-right: 2px !important
}

.zeon-inputContainer-sideBox {
    text-align: end !important
}

.zeon-inputContainer-spinner {
    width: 15px;
    height: 15px;
}

.zeon-inputContainer-icon {
    width: 20px;
    height: 20px;
}

.zeon-button-btn {
    border: solid 1px;
    border-radius: 6px;
    display: var(--btn-display ) !important;
    width: var(--btn-width ) !important;
    height: var(--btn-height ) !important;
}

.zeon-button-spinner {
    width: 15px;
    height: 15px;
}

.zeon-button-icon {
    font-size: small;
}

.zeon-button-text {
    font-size: 12px;
}

.zeon-checkBoxButton-container {
    width: var(--container-Width);
}

.zeon-checkBoxButton-label {
    padding: 1px;
    display: inline-block;
    width: 100%;
    line-height: var(--label-Height);
    box-shadow: 1px 1px 2px gray
}

.zeon-checkBoxButton-icon {
    margin-left: 3px;
    margin-right: 3px
}

.zeon-dateTimePicker-input {
    text-align: center;
    border-radius: 5px;
    direction: ltr;
    cursor: pointer;
}

.zeon-dateTimePicker-datePickerCard {
    display: var(--datePickerCard-display) !important;
    margin-top: 5px;
    background-color: white;
    width: 250px;
    position: absolute;
    z-index: 1000;
}

.zeon-dateTimePicker-datePickerCard-panel {
    display: var(--panel-display) !important;
    width: 100%;
    height: 100%;
    min-height: 354px;
    background-color: whitesmoke;
    align-items: center;
    display: inline-grid;
    color: whitesmoke;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    z-index: 1000;
}

.zeon-dateTimePicker-datePickerCard-panel-header {
    margin-top: 0px !important;
    direction: ltr;
}

.zeon-dateTimePicker-datePickerCard-panel-box {
    -ms-overflow-style: thin; /* for Internet Explorer, Edge */
    scrollbar-width: thin; /* for Firefox */
    overflow-y: scroll;
    width: 80%;
    height: 160px;
    text-align: center;
    cursor: pointer;
    margin: auto;
    padding: 0;
    background-color: whitesmoke;
    border-radius: 5px;
    color: rgb(3,3,3,0.7);
}

    .zeon-dateTimePicker-datePickerCard-panel-box::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }

    .zeon-dateTimePicker-datePickerCard-panel-box > ul > li:hover {
        background-color: rgba(3,3,3,0.78);
        color: whitesmoke;
    }

.zeon-dateTimePicker-datePickerCard-panel .zeon-dateTimePicker-datePickerCard-panel-box .selected {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: #00c7d0;
}


.zeon-dateTimePicker-datePickerCard-panel-header-date {
    background-color: #e3e3e3;
    color: #242424;
    border-radius: 6px;
}

.zeon-dateTimePicker-datePickerCard-panel-header-time {
    margin-top: 10px !important;
    background-color: #e3e3e3;
    color: #242424;
    border-radius: 6px;
}

.zeon-dateTimePicker-datePickerCard-panel-header-time-h {
    text-align: center;
    border-radius: 5px;
}

.zeon-dateTimePicker-datePickerCard-panel-header-time-m {
    text-align: center;
    border-radius: 5px;
}

.zeon-dateTimePicker-datePickerCard-panel-footer {
    bottom: 0px;
    background-color: whitesmoke;
}

.zeon-dateTimePicker-datePickerCard-header {
    align-self: center !important;
    background-color: white;
    font-size: inherit;
}

.zeon-dateTimePicker-datePickerCard-body {
    background-color: #484848;
    color: whitesmoke;
    margin-bottom: 8px;
    border-radius: 3px;
}

.zeon-dateTimePicker-btn-ok {
    color: #242424;
}


.zeon-dateTimePicker-btn-prev-month {
    color: darkred;
}

.zeon-dateTimePicker-btn-next-month {
    border: none;
    color: green;
}

.zeon-dateTimePicker-btn-show-panel {
    background-color: whitesmoke;
}

.zeon-dateTimePicker-btn-day {
    margin: 1px;
    width: 30px;
    height: 30px;
    border: solid 1px;
    border-color: var(--btn-border-color) !important;
    overflow: auto;
    font-size: small;
    padding: 0;
}

.zeon-dateTimePicker-btn-today {
    color: #242424;
}

    .zeon-dateTimePicker-btn-next-month:focus,
    .zeon-dateTimePicker-btn-show-panel:focus,
    .zeon-dateTimePicker-btn-prev-month:focus,
    .zeon-dateTimePicker-btn-ok:focus,
    .zeon-dateTimePicker-btn-day:focus,
    .zeon-dateTimePicker-btn-today:focus {
        outline: none !important;
        box-shadow: none;
    }

.zeon-dateTimePicker-month-label {
    color: #00c7d0;
}

.zeon-dateTimePicker-datePickerCard-footer {
    margin-top: 3px;
    background-color: whitesmoke;
}

.zeon-input {
    border-color: lightgrey;
    height: 27px;
}

.zeon-input-validate {
    color: #e83030;
    font-size: small;
    padding: 1px;
    display: inline list-item;
}

.form-control:focus {
    border-color: #1cc1ff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #007aff;
}

.zf {
    font-size: small;
}

.zf-arrow-alt-right::before {
    content: '\276F';
}

.zf-arrow-alt-left::before {
    content: '\276E';
}

.zf-check::before {
    content: '\2714';
}

.zf-circle-arrow::before {
    content: '\21BB';
}
