@namespace Zeon.Blazor.ZTreeView
@foreach (var item in Items)
{
    string checkBoxClass = GetCheckBoxClassMode(DataSource, item);
    string expandedClass = GetExpandedClassMode(DataSource, item);
    <ul>
        <li id="@GetItemId(item.Id)" class="zeon-tree-view-item">
            <span @onclick:stopPropagation=true @onclick="()=> ExpandedOnClick.InvokeAsync(item.Id)" class="@expandedClass"></span>
            <span @onclick:stopPropagation=true @onclick="()=> CheckedOnClick.InvokeAsync(item.Id)" class="@checkBoxClass"></span>
            <span>@item.Text</span>
            @if (item.Expanded)
            {
                <ChildrenTree GetItemId="GetItemId" GetCheckBoxClassMode="GetCheckBoxClassMode" GetExpandedClassMode="GetExpandedClassMode" DataSource="DataSource" Items="DataSource.Where(q=> q.ParentId == item.Id).ToList()" CheckedOnClick="CheckedOnClick" ExpandedOnClick="ExpandedOnClick"></ChildrenTree>
            }
        </li>
    </ul>
}